In [19]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [3]:
GSPC = yf.Ticker("^GSPC")
print(GSPC)

yfinance.Ticker object <^GSPC>

In [4]:
GSPC.info

{'exchange': 'SNP',
 'shortName': 'S&P 500',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'INDEX',
 'symbol': '^GSPC',
 'messageBoardId': 'finmb_INDEXGSPC',
 'market': 'us_market',
 'previousClose': 4352.63,
 'regularMarketOpen': 4362.41,
 'twoHundredDayAverage': 4269.1123,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 4385.57,
 'navPrice': None,
 'averageDailyVolume10Day': 3175124285,
 'totalAssets': None,
 'regularMarketPreviousClose': 4352.63,
 'fiftyDayAverage': 4462.4175,
 'trailingAnnualDividendRate': None,
 'open': 4362.41,
 'toCurrency': None,
 'averageVolume10days': 3175124285,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 4355.08,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 1897856000,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 3076088095,
 'priceToSalesTrailing12Months': None,
 'dayLow': 4355.08,
 'ask': 4408.06,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 1897856000,
 'fiftyTwoWeekHigh': 4545.85,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 3233.94,
 'bid': 4331.2,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 4385.57,
 'regularMarketPrice': 4359.46,
 'logo_url': ''}

In [54]:
SP500 = GSPC.history(interval="1d", start="2016-01-01", end="2021-09-28")
SP500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-12-31,2060.590088,2062.540039,2043.619995,2043.939941,2655330000,0,0
2016-01-04,2038.199951,2038.199951,1989.680054,2012.660034,4304880000,0,0
2016-01-05,2013.780029,2021.939941,2004.170044,2016.709961,3706620000,0,0
2016-01-06,2011.709961,2011.709961,1979.050049,1990.260010,4336660000,0,0
2016-01-07,1985.319946,1985.319946,1938.829956,1943.089966,5076590000,0,0
...,...,...,...,...,...,...,...
2021-09-21,4374.450195,4394.870117,4347.959961,4354.189941,3044300000,0,0
2021-09-22,4367.430176,4416.750000,4367.430176,4395.640137,3273670000,0,0
2021-09-23,4406.750000,4465.399902,4406.750000,4448.979980,2833290000,0,0
2021-09-24,4438.040039,4463.120117,4430.270020,4455.479980,2772090000,0,0
2021-09-27,4442.120117,4457.299805,4436.189941,4443.109863,3032870000,0,0

In [55]:
SP500 = SP500.drop('Stock Splits', axis=1)

In [56]:
SP500 = SP500.drop('Volume', axis=1)

In [57]:
SP500 = SP500.drop(SP500.index[0])

In [59]:
pd.to_datetime(SP500.index, unit='s')
SP500

                   Open         High          Low        Close  Dividends
Date
2016-01-04  2038.199951  2038.199951  1989.680054  2012.660034          0
2016-01-05  2013.780029  2021.939941  2004.170044  2016.709961          0
2016-01-06  2011.709961  2011.709961  1979.050049  1990.260010          0
2016-01-07  1985.319946  1985.319946  1938.829956  1943.089966          0
2016-01-08  1945.969971  1960.400024  1918.459961  1922.030029          0
...                 ...          ...          ...          ...        ...
2021-09-21  4374.450195  4394.870117  4347.959961  4354.189941          0
2021-09-22  4367.430176  4416.750000  4367.430176  4395.640137          0
2021-09-23  4406.750000  4465.399902  4406.750000  4448.979980          0
2021-09-24  4438.040039  4463.120117  4430.270020  4455.479980          0
2021-09-27  4442.120117  4457.299805  4436.189941  4443.109863          0

[1444 rows x 5 columns]

In [60]:
SP500.index = SP500.index.strftime('%Y-%m-%d %H:%M:%S')

In [61]:
SP500

,Open,High,Low,Close,Dividends
Date,,,,,
2016-01-04 00:00:00,2038.199951,2038.199951,1989.680054,2012.660034,0
2016-01-05 00:00:00,2013.780029,2021.939941,2004.170044,2016.709961,0
2016-01-06 00:00:00,2011.709961,2011.709961,1979.050049,1990.260010,0
2016-01-07 00:00:00,1985.319946,1985.319946,1938.829956,1943.089966,0
2016-01-08 00:00:00,1945.969971,1960.400024,1918.459961,1922.030029,0
...,...,...,...,...,...
2021-09-21 00:00:00,4374.450195,4394.870117,4347.959961,4354.189941,0
2021-09-22 00:00:00,4367.430176,4416.750000,4367.430176,4395.640137,0
2021-09-23 00:00:00,4406.750000,4465.399902,4406.750000,4448.979980,0
2021-09-24 00:00:00,4438.040039,4463.120117,4430.270020,4455.479980,0
2021-09-27 00:00:00,4442.120117,4457.299805,4436.189941,4443.109863,0

In [65]:
SP500.to_csv(r'C:\Users\Ashley\Fintech_Project1\SP500_Data.csv')